<header>
    
<nav class="flex flex-row flex-wrap py-4 px-14">

    <a class="logo" href="#"> Thrift-Mart  </a> 
    
    
    <a class="icon ml-auto"> <i class="fas fa-bars"> </i> </a> 

    <div class = "w-full hidden">
        <ul class="flex flex-col space-y-2">

                <li> <a class="item" href="#"> About      </a> </li>
            
                <li> <a class="item" href="#"> Catalog    </a> </li>
            
                <li> <a class="item button" href="#"> Login     </a> </li>

                <li> <a class="item button" href="#"> Sign up   </a> </li>
        </ul>
    
    </div>
    
</nav>

</header>